* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.devider {
    position: relative;
    height: 45px;
    width: 45px;
    margin: 0 auto;
    &:before {
        content: '';
        position: absolute;
        top: 40%;
        right: 55px;
        display: block;
        width: 60px;
        height: 1px;
        background: #000000;
    }
    &:after {
        content: '';
        position: absolute;
        top: 40%;
        left: 55px;
        display: block;
        width: 60px;
        height: 1px;
        background: #000000;
    }
}

.title-big {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
}

.title-small {
    font-family: 'Merienda', cursive;
    font-weight: 400;
    font-size: 24px;
}

.nav-header {
    position: absolute;
    left: 179px;
    top: 52px;
}

.nav-footer {
    position: relative;
    margin-left: 35px;
}

.common-devider {
    width: 240px;
    height: 1px;
    background-color: black;
    margin: 0 auto;
    margin-top: 65px;
}